#map {
  height: calc(100% - 20px);
  width: 100%;
  position: absolute !important;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
}

#profile {
  position: absolute !important;
  width: 25rem;
  right: 8%;
  top: 10%;
  z-index: 1;
}

.profile, .info {
  padding: 6px 8px;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.profile, .info h4 {
  margin: 0 0 5px;
  color: #777;
}
.profile {
  overflow-y: scroll;
  max-height: 800px;
  max-width: 400px;
  min-width: 400px;
}
.info {
  width: 20rem;
}
.dropdown {
  width: 85%;
  margin-left: 2em;
}
